body {
  text-align: center;
  background-color: #040303;
  color: white;
  font-family: 'Courier New', monospace;
}

h1 {
  background: #3a4e48;
  margin: 0;
  padding: 1.3rem 1rem 1rem 1rem;
  font-size: 2.5rem;
  font-family: 'Courier New', monospace;
}

button {
  background-color: #8b9d83;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: .3rem .8rem .3rem .8rem;
  border-radius: 1rem;
  font-family: 'Courier New', monospace;  
}